:root {
  --cyan: hsl(179, 62%, 43%);
  --brightYellow: hsl(71, 73%, 54%);
  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--lightGray);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
li,
h2 {
  color: white;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.font-bold {
  font-weight: bold;
}

.card-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-intro {
  grid-column: 1 / 3;
  padding: 3rem;
}

.title-h1 {
  font-size: 1.75rem;
  color: var(--cyan);
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: var(--brightYellow);
}

.subtitle + p {
  max-width: 60ch;
  color: #a4a9b0;
}

.title-h2 {
  font-size: 1.25rem;
}

.card-price {
  background-color: var(--cyan);
  border-radius: 0 0 0 10px;
  padding: 3rem;
}

.card-price h2 {
  margin-bottom: 1.5rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.price p:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.price p:last-child {
  color: rgba(255, 255, 255, 0.5);
}

.card-price > p {
  margin-bottom: 2rem;
}

.card-price button {
  background-color: var(--brightYellow);
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.card-why {
  background-color: rgba(74, 190, 189, 0.8);
  border-radius: 0 0 10px 0;
  padding: 3rem;
}

.card-why h2 {
  margin-bottom: 1.5rem;
}

.why-list li {
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 800px) {
  .card-container {
    grid-template-columns: 1fr;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .card-intro {
    grid-column: 1;
    padding: 2rem;
  }
  .title-h1 {
    font-size: 1.5rem;
  }
  .card-price {
    border-radius: 0;
    padding: 2rem;
  }
  .card-why {
    border-radius: 0 0 10px 10px;
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 1rem;
  }
}
