body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  background-color: #d5e1ef;
}

body,
h1,
p {
  margin: 0;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  max-width: 320px;
  margin: auto auto;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
}

.container h1,
p {
  padding: 0 12px;
  text-align: center;
}

.container h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.5rem;
  font-weight: 700;
}

.container p {
  color: hsl(220, 15%, 55%);
  margin-bottom: 25px;
  font-size: 1.1rem;
}
